<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//0.y12.tw/js/angular-material/0.6.0/angular-material.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="app.css" rel="stylesheet">
</head>

<body ng-app="YourApp">

  <div class="doc-content" ng-controller="YourController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">0x590c a.k.a. Y12</span>
      </div>
    </md-toolbar>
    <md-card>
      <h2>Bitcoin OpReturn Protocol  <i class="fa fa-btc"></i></h2>
      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised md-warn" ng-click="ypp.NavGo('a1-common.html')">a1 common</md-button>
        <md-button class="md-raised md-primary" ng-click="ypp.NavGo('a2-www.html')">a2 www</md-button>
        <md-button class="md-raised md-warn" ng-click="ypp.NavGo('a3-common.html')">a3 common</md-button>
      </section>
      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised md-warn" ng-click="ypp.NavGo('a4-common.html')">a4 common</md-button>
        <md-button class="md-raised" ng-click="ypp.NavGo('a3-fileexist.html')">a3 file</md-button>
        <md-button class="md-raised md-primary" ng-click="ypp.NavGo('sign.html')">sign</md-button>
      </section>

    </md-card>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-animate.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-aria.min.js"></script>
  <script src="//0.y12.tw/js/hammer/2.0.4/hammer.min.js"></script>
  <script src="//0.y12.tw/js/angular-material/0.6.0/angular-material.min.js"></script>
  <script src="app.js"></script>
  <script>
    // Include app dependency on ngMaterial
    angular.module('YourApp', ['ngMaterial'])
      .controller("YourController", ['$scope', function($scope) {
        $scope.ypp = Ypp;
      }]);
  </script>
</body>

</html>
