service: firebase-btc
provider:
  name: aws
  region: ap-northeast-1
  runtime: nodejs4.3
  memorySize: 512 # optional, default is 1024
  timeout: 10 # optional, default is 6

functions:
  hello:
    handler: handler.hello
    events:
      - http:
          path: hello
          method: get
          cors: true
  btctwd:
    handler: handler.btctwd
    events:
      - http:
          path: btctwd
          method: get
          cors: true
