<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//0.y12.tw/js/angular-material/0.5.1/angular-material.min.css">
  <style>
    .doc-content {
      max-width: 864px;
      margin: auto;
    }
    section {
      background: #f7f7f7;
      border-radius: 3px;
      text-align: center;
      margin: 1em;
      position: relative !important;
      padding-bottom: 10px;
    }
    section md-button:not(.md-fab) {
      width: 10em;
    }
    section md-button {
      display: block;
      margin: 1em;
      line-height: 25px;
    }
    md-card .md-card-image-small {
      display: block;
      width: 50%;
      margin: auto;
    }
  </style>
</head>

<body ng-app="YourApp">

  <div class="doc-content" ng-controller="YourController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">Angular Material</span>
      </div>
    </md-toolbar>
    <md-card>
      <h2>Angular Material and Bitcoin</h2>
      <p>
        api...
      </p>

      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised" ng-click="go('firebase-bitcoin.html')">Firebase</md-button>
        <md-button class="md-raised md-warn" ng-click="go('firebase-bitcoin-twd.html')">TWD</md-button>
        <md-button class="md-raised md-primary" ng-click="go('helloblock.html')">HelloBlock</md-button>
      </section>
      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="go('p2sh-23.html')">MultiSig 2/3</md-button>
        <md-button class="md-raised md-warn" ng-click="go('p2sh-realitykeys.html')">RealityKey</md-button>
      </section>

    </md-card>
    <md-card>
      <h2>Y12 Meta Protocol/OP_RETURN/ProtoBuf.js</h2>

      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised" ng-click="go('protobuf-y12metav1.html')">v1 genesis</md-button>
        <md-button class="md-raised md-primary" ng-click="go('protobuf-y12metav2.html')">v2 file</md-button>
      </section>

    </md-card>
    <md-card>
      <h2>CoinSpark</h2>
      <section layout="vertical" layout-sm="horizontal" layout-align="center center">
        <md-button class="md-raised md-warn" ng-click="go('coinspark-assetref.html')">AssetRef</md-button>
        <md-button class="md-raised" ng-click="go('coinspark-addr.html')">Address</md-button>
        <md-button class="md-raised md-primary" ng-click="go('coinspark-tx.html')">Tx</md-button>
      </section>
      <a href="http://imgur.com/gallery/qsPr9rh"><img src="http://i.imgur.com/qsPr9rh.jpg" class="md-card-image-small" alt="Washed Out">
      </a>
    </md-card>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/1.1.3/hammer.min.js"></script>
  <script src="//0.y12.tw/js/angular-material/0.5.1/angular-material.min.js"></script>
  <script>
    // Include app dependency on ngMaterial
    angular.module('YourApp', ['ngMaterial'])
      .controller("YourController", ['$scope', function($scope) {
        $scope.go = function(path) {
          location.href = path;
        };
      }]);
  </script>
</body>

</html>
