<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="//0.y12.tw/js/angular-material/0.5.1/angular-material.min.css">
  <style>
    .doc-content {
      max-width: 864px;
      margin: auto;
    }
    form .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      margin-left: -8px;
    }
    form .row > * {
      font-size: inherit;
      margin-left: 8px;
      margin-right: 8px;
    }
    md-input-group.long > input {
      width: 566px;
    }
    section {
      background: #f7f7f7;
      border-radius: 3px;
      text-align: center;
      margin: 1em;
      position: relative !important;
      padding-bottom: 10px;
    }
    section .md-button:not(.md-fab) {
      width: 10em;
    }
    .md-button.md-fab {
      width: 48px;
      height: 48px;
    }
    section .md-button {
      display: block;
      margin: 1em;
      line-height: 25px;
    }
    textarea {
      display: block;
      margin: 1em auto;
    }
  </style>
</head>

<body ng-app="YourApp">

  <div class="doc-content" ng-controller="YourController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span class="md-flex">Y12 Meta v2(File)</span>
        <span flex></span>
        <md-button class="md-fab" aria-label="home" ng-click="go('index.html')">
          <md-icon icon="home.svg" style="width: 24px; height: 24px;"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-card>
      <md-content>
        <form style="padding: 20px;">
          <h2>File Exist</h2>
          <p>hash160(file) a/k/a ripemd160(sha256(file))</p>
          <input type="file" ng-file-select="onFileSelect($files)">
          <md-text-float label="hash160(file)" ng-model="fileHash160" class="long"></md-text-float>
          <div class="row">
            <md-text-float label="Title" ng-model="fileTitle"></md-text-float>
            <span flex></span>
            <md-button class="md-raised md-warn" ng-click="gen()">Generate</md-button>
          </div>
          <md-text-float label="OP_RETURN hex" ng-model="ymeta.orhash" class="long"></md-text-float>
          <md-text-float label="OP_RETURN size" ng-model="ymeta.orsize"></md-text-float>
        </form>
      </md-content>
      <md-content class="md-padding">
        <p>
          <a href="https://github.com/danialfarid/angular-file-upload">danialfarid/angular-file-upload</a>
          <BR/>
          <a href="https://cdnjs.com/libraries/danialfarid-angular-file-upload">danialfarid-angular-file-upload - cdnjs.com</a>
          <BR/>
          <a href="http://coinsecrets.org/?to=330499.000000">Coin Secrets - OP_RETURN metadata in the Bitcoin Blockchain</a>
          <BR/>
          <a href="https://github.com/dcodeIO/ProtoBuf.js/wiki/Getting-started">dcodeIO/ProtoBuf.js Wiki</a>
          <BR/>
          <a href="https://helloblock.io/propagate">Helloblock | Propagate Page</a>
          <BR/>
          <a href="https://github.com/williamcotton/bitcoinjs-lib/blob/inttests/test/integration/helloblock.js">bitcoinjs-lib/helloblock.js</a>
        </p>
      </md-content>
    </md-card>
    <md-card>
      <md-content class="md-padding">
        <h2>y12coin-v2.proto</h2>
        <pre>
package y12.tw;

message Y12Meta {

  enum Type {
    COMMON_STRING = 1;
    COMMON_INT_STRING = 2;
    COMMON_INT_BYTES = 3;
    COMMON_ARRAY_INT = 11;
    COMMON_ARRAY_STRING = 12;
    COMMON_ARRAY_STRING_INT = 13;
    FILE_EXIST = 41;
    ASSET_GENESIS     = 51;
    ASSET_TRANSCATION = 52;
  }

  message CommonString {
    required string content = 1;
  }

  message CommonIntString {
    required string content = 1;
    required int32 num = 2;
  }

  message FileExist {
    required bytes hash = 1;
    optional string title = 2;
    optional int32 size = 3;
  }

  message AssetGenesis {
    required string name = 1;
    required string domain = 2;
    required int32 qty = 3;
  }

  message AssetTranscation {
    required string number = 1;
  }

  required Type type = 1;
  optional CommonString commonString = 2;
  optional CommonIntString commonIntString = 3;
  optional FileExist fileExist = 4;
  optional AssetGenesis assetGenesis = 5;
  optional AssetTranscation assetTranscation = 6;

}
    </pre>
      </md-content>
    </md-card>
  </div>

  <!-- Note: shim.js MUST BE PLACED BEFORE angular.js and angular-file-upload.js AFTER angular.js-->

  <script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/1.6.1/angular-file-upload-shim.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/1.6.1/angular-file-upload.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-aria.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-animate.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-resource.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/hammer.js/1.1.3/hammer.min.js"></script>
  <script src="//0.y12.tw/js/angular-material/0.5.1/angular-material.min.js"></script>
  <script src="//0.y12.tw/js/bitcoinjs/1.2.0/bitcoinjs.min.js"></script>
  <script src="//0.y12.tw/js/dcodeIO/Long/2.2.3/Long.min.js"></script>
  <script src="//0.y12.tw/js/dcodeIO/ByteBuffer/3.5.4/ByteBufferAB.min.js"></script>
  <script src="//0.y12.tw/js/dcodeIO/ProtoBuf/3.8.1/ProtoBuf.min.js"></script>
  <script>
    // Include app dependency on ngMaterial

    angular.module('YourApp', ['ngMaterial', 'ngResource', 'angularFileUpload'])
      .controller("YourController", ['$scope', '$timeout', '$resource', '$upload', function($scope, $timeout, $resource, $upload) {
        var reshb = $resource('https://mainnet.helloblock.io/v1/addresses/:addr/unspents');
        var ProtoBuf = dcodeIO.ProtoBuf;
        var y12HexStart = '59';
        var y12HexEnd = '0c';
        var y12 = ProtoBuf.loadProtoFile("y12coin-v2.proto").build('y12'),
          y12meta = y12.tw.Y12Meta,
          y12type = y12meta.Type,
          y12FileExist = y12meta.FileExist;
        $scope.fileHash160 = 'TODO';
        $scope.fileTitle = 'S234567890';

        $scope.fileReaderSupported = window.FileReader != null && (window.FileAPI == null || FileAPI.html5 != false);

        $scope.onFileSelect = function($files) {
          if ($scope.fileReaderSupported) {
            var file = $files[0];
            var fr = new FileReader();
            fr.onload = function(e){
                //console.log(e);
                var contentBuf = dcodeIO.ByteBuffer.wrap(e.target.result);
                //console.log(contentBuf);
                $scope.fileHash160 = toHash160Hex(contentBuf.toHex());
                $scope.$digest();
            }
            fr.readAsArrayBuffer(file);
          }
        };

        var printSize = function(v) {
          console.log(v);
          console.log('hash160hex='+v.hash160hex);
          console.log('hex=' + v.toHex());
          console.log('calculate size = ' + v.calculate());
          console.log('result hex = ' + v.orhash);
          console.log('result size = ' + v.orsize);
        }

        var createFileExist = function(title, hash160hex) {
          var hashBuf = dcodeIO.ByteBuffer.fromHex(hash160hex);
          var r = new y12meta(y12type.FILE_EXIST);
          r.fileExist = new y12FileExist(hashBuf,title);
          r.hash160hex = hash160hex;
          r.orhash = y12HexStart + r.toHex() + y12HexEnd;
          r.orsize = r.orhash.length/2;
          printSize(r);
          return r;
        }

        var toHash160Hex = function(contentHex){
            hash160buf = bitcoin.Script.fromHex(contentHex).getHash();
            // console.log(hash160buf);
            rhex = hash160buf.toString('hex');
            return rhex;
        }

        var handleFoo = function() {
          // sha256(sha256) = 32 bytes
          var hashHexStr32 = '31e069729c36d12cb1139b1f48fbb42fadcbd91aaec91f6697852d771d28c4a6';
          var foo32 = createFileExist('T2345', hashHexStr32);

          var hashHexStr28 = '31e069729c36d12cb1139b1f48fbb42fadcbd91aaec91f6697852d77';
          var foo28 = createFileExist('T2345', hashHexStr28);
          // https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/src/crypto.js
          // hash160(buffer) = ripemd160(sha256(buffer))
          // need to export Buffer from bitcoinjs
          // var hash160 = bitcoin.crypto.hash160(new Buffer(hexStr, 'hex'));

          // https://github.com/bitcoinjs/bitcoinjs-lib/blob/master/src/script.js
          var dBuf = dcodeIO.ByteBuffer.fromUTF8('Haha Hello World');
          // sha256 = 767b0c8977412c70eafd0c491c99664fadc7b8ee9672b29ecf0330e7d583c4ec
          // http://www.fileformat.info/tool/hash.htm?hex=767b0c8977412c70eafd0c491c99664fadc7b8ee9672b29ecf0330e7d583c4ec
          // ripemd160 = 025c5eb280b0268229cdf02c4318dcb10cff3414
          rhex = toHash160Hex(dBuf.toHex());
          console.log(rhex);
          console.log('Assert True ? ' + (rhex == '025c5eb280b0268229cdf02c4318dcb10cff3414'));
          var foo160 = createFileExist('T2345678901', rhex);
        };

        handleFoo();

        $scope.go = function(path) {
          location.href = path;
        };

        $scope.gen = function() {
          $scope.ymeta = createFileExist($scope.fileTitle,$scope.fileHash160);
        };

      }]);
  </script>

</body>

</html>
