body {
  padding-top: 30px;
  background: none;
}
@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Two'), local('LobsterTwo'), url(http://fonts.gstatic.com/s/lobstertwo/v7/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.form-control {
  max-width: 150px;
}

.row-centered {
  text-align: center;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
img {
  max-width: 100%;
}
img.coffee {
  width: 6vw;
  margin: 1vw 0vw;
}
span.coffee {
  display: inline-block;
  width: 6vw;
  margin: 1vw 0vw;
}
.mainRow {
  margin: 5px 5px;
  padding: 5px 5px;
  text-align: center;
}
.price {
  font-size: 2vw;
}
.full {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
